<h1>Ne pas repondre a ce mail</h1> <br>
<h2>Bonjour <%= @user.first_name%> <%= @user.last_name %>, nous confirmons votre inscription à Strattons Jets.
	<br>
	Pour etre sur d'etre contacté par un de nos courtiers, assurez vous d'avoir renseigné un numero de telephone valide.
	<br>
	Vous pouvez aussi nous contacter via la messagerie accessible sur votre page <%= link_to 'profil', messages_url %>.
	Sinceres salutations.
</h2>


