<div class="center jumbotron">

	<tr>Bonjour <%= @user.first_name %> <%= @user.last_name %></tr> 
	<br>
	<tr>Ton email: <%= @user.email %> </tr> 
	<br>
	<tr>Ton numero 0<%= @user.phone %></tr> 

</div>

