<div class="pt100 pb70 parallax-overlay bg-parallax" data-jarallax="{&quot;speed&quot;: 0.4}" id= "booking" >
	<div class="container">
		<div class="row newsletter-row">
			<div class="col-lg-10 mr-auto m-auto mb30 text-center">
				<div class="center-title mb60 text-center">
					<h2 class="text-white">Veuillez vous connecter</h2>
					<p class="text-white-gray"> La technologie Stratton est reservée à nos membres</p>
					<br><br>


				</div>
				<li class="nav-item" style="list-style: none; float: left; margin-left: 30%"><a>

	<%= link_to "Log in", new_user_session_path,  class: "btn btn-xl btn-primary"  %></a></li>



<li class="nav-item" style="list-style: none;float: right; margin-right: 30%"><a><%= link_to "Sign up", new_user_registration_path, class: "btn btn-xl btn-primary"  %></a></li>
			</div>
		</div>
	</div>
</div>
<div id="jarallax-container-3">
	<div id="jarallax-container-3-bis" style="background-image: url('<%= asset_path 'travel.jpg' %>');">
	</div>
</div>
