  <div style="float:right; margin-left: 5%; margin-right:15%;">
    <div >
     <span>Support</span>
     <p class="lead">john@stratton.com</p>
     <span>Phone</span>
     <p class="lead">+33 747 777 73 </p>
     &copy; Copyright 2018. All Right Reserved.
   </div>
 </div>

 <div style="margin-left: 15%;">
  <div>
    <a href='#home' data-scroll class='h6'>
      <%= image_tag('logo.png',  width: 140, height: 30, :class => 'logo logo-light hidden-md-down') %>
    </a>  <br>
    La technologie Stratton : générateur de confiance<br>
  </div>
  <br>
  <div>
    <h4>Follow us</h4>
    <span class='clearfix'>
      <a href="#" class="social-icon-sm si-dark si-dark-round si-facebook">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-facebook"></i>
      </a>
      <a href="#" class="social-icon-sm si-dark si-dark-round si-twitter ">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-twitter"></i>
      </a>
      <a href="#" class="social-icon-sm si-dark si-dark-round si-instagram">
        <i class="fa fa-instagram"></i>
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#" class="social-icon-sm si-dark si-dark-round si-linkedin">
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-linkedin"></i>
      </a>
    </span>
  </div>
</div>
