<div style="background-color: white">
	<div class="center-title">
		<h2 class="text-black">La promesse Stratton</h2>
	</div>

	<h5 style="color: black; font-style: italic; margin: 2%">
		<center>
			Réserver un jet privé peut être compliqué. 
			<br>
			À Stratton Jets, nous pensons que cela ne doit plus être le cas. <br>
			C'est pourquoi nous guidons nos clients dans un processus de recherche simple et efficace.
			<br><br>
			Notre objectif : vous offrir une offre juste et précise selon vos besoins.
		</center>
	</h5>
	<br>
</div>