<<<<<<< HEAD
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>


	

	<%= render "layouts/slider_revolution" %>

	<%= render "layouts/text_window" %>


=======
>>>>>>> 1545fa6121038e8a7bd043929cec6bb5ae2ef76e

