<body data-spy="scroll" data-offset="71" data-target="#navbarRestaurant">

	<!-- Cercle chargement -->
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	<!-- Cercle chargement -->

	<!--/preloader-->






	<header class="header-main header-transparent">

		<!-- COMMERCIALS -->

		<%= render "layouts/navbar" %>
		
	</header>
	<!--slider revolution -->
	

	<!--INTRO-->
	<%= render "layouts/slider_revolution" %>

	<%= render "layouts/booking" %>

	<!--Caroussel-->
	<%= render "layouts/footer" %>

	<!--foods-->

	<!--texte fenetre-->

	<!--half image section-->

	<!--REVIEWS -->

	<!--NOS SERVICES -->

	<!-- Triple_Tab  -->

	<!--INSTAGRAM GALLERY -->

	<!-- Button elevator -->

	<!-- Script jquery -->
</body>
</html>
