<div class="row" style="background-color: black" >
  <div class="col-md-6 col-md-offset-3" style="margin-left: 25%; margin-right: 25%; margin-top: 2%;">


    <div>
      <div class="center-title">
        <h2 class="text-white"> Nous rejoindre</h2>
      </div>
      <center>
        <div style="color: black; font-style: italic; margin: 2%">
          N'attendez plus,
          <br>
          Rejoingnez la club Stratton pour une experience unique et efficace
        </div>
      </center>
    </div>


  </div>
</div>
