<div style=" background-color: white">
	<div class="container" >
		<div class="center-title">
			<h2 class="text-black">Le monde des jets privés</h2>
			<p class="text-black"></p>
		</div>
		<div class="row">
			<div class="owl-carousel owl-theme carousel-cards">
				
				<div class="item">
					<center>
						<a class="card-image" href="#">
							<%= image_tag('light.png', :class => 'img-fluid') %>
							<h5>Light Jet</h5>
						</a>
					</center>
				</div><!--item-->

				<div class="item">
					<center>
						<a class="card-image"  href="#">
							<%= image_tag('midsize.jpg', :class => 'img-fluid') %>
							<h5>Midsize Jet</h5>
						</a>
					</center>
				</div><!--item-->

				<div class="item">
					<center>
						<a class="card-image" href="#">
							<%= image_tag('heavy.jpeg', :class => 'img-fluid') %>
							<h5>Heavy Jet</h5>
						</a>
					</center>
				</div>


			</div>
		</div>
	</div>
</div>
