<div class="bg-primary pt90 pb90" id="foods">
		<div class="container">
			<div class="center-title">
				<h2 class="text-white">seasonal offers</h2>
				<p class="text-white-gray">Checkout the latest offers in menu</p>
			</div>

			<div class="row">
				<div class="owl-carousel owl-theme carousel-cards">
					<div class="item">
						<a class="card-image" href="#">
							<%= image_tag('aircrafts/OE-FCB/OEFCB_outside.jpg', :class => 'img-fluid') %>

							<h4>Light Jet</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">

							<%= image_tag('aircrafts/F-HADH/FHADH_outside.jpg', :class => 'img-fluid') %>

							<h4>Midsize Jet</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">

							<%= image_tag('aircrafts/9H-VJC/9HVJC_outside.jpg', :class => 'img-fluid') %>

							<h4>Heavy Jet</h4>

				
				</div>
			</div>
		</div>
	</div>
