<div class="bg-primary pt90 pb90" id="foods">
		<div class="container">
			<div class="center-title">
				<h2 class="text-white">Nos avions</h2>
				<p class="text-white-gray">Checkout the latest offers in menu</p>
			</div>

			<div class="row">
				<div class="owl-carousel owl-theme carousel-cards">
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food1.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$9</span>
							<h4>Soft drink</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food2.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$14</span>
							<h4>Red wine</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food3.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$5</span>
							<h4>Pizza Lorem</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food4.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$9</span>
							<h4>Pizza roll</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food5.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$13</span>
							<h4>Pure veg</h4>
						</a>
					</div><!--item-->
					<div class="item">
						<a class="card-image" href="#">
							<img src="images/resto/food6.jpg" alt="" class="img-fluid">
							<span class="float-right lead">$11</span>
							<h4>Chikan Salad</h4>
						</a>
					</div><!--item-->
				</div>
			</div>
		</div>
	</div>