
<div style="background-color: white">
	<div class="container">
		<div class="center-title">

			<h2 class="text-white">Le monde des jets privés</h2>
			<p class="text-white-gray"></p>
		</div>

		<div class="row">
			<div class="owl-carousel owl-theme carousel-cards">
				<div class="item">
					<a class="card-image" href="#">
						<%= image_tag('light.png', :class => 'img-fluid') %>

						<h4>Light Jet</h4>
					</a>
				</div><!--item-->
				<div class="item">
					<a class="card-image" href="#">

						<%= image_tag('midsize.jpg', :class => 'img-fluid') %>

						<h4>Midsize Jet</h4>
					</a>
				</div><!--item-->
				<div class="item">
					<a class="card-image" href="#">

						<%= image_tag('heavy.jpeg', :class => 'img-fluid') %>

						<h4>Heavy Jet</h4>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
