<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto">
				<div class="float-right clearfix top-socials">
					<a href="#" class="social-icon-sm si-dark si-dark-round si-facebook">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-facebook"></i>
					</a>
					<a href="#" class="social-icon-sm si-dark si-dark-round si-twitter ">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter"></i>
					</a>
					<a href="#" class="social-icon-sm si-dark si-dark-round si-instagram">
						<i class="fa fa-instagram"></i>
						<i class="fa fa-instagram"></i>
					</a>
					<a href="#" class="social-icon-sm si-dark si-dark-round si-linkedin">
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>