<div class="container" style="background-color: white; border-style: solid ;border-color: black">
  <br>
  <h2>Vol Paris - Nice pour 6 personnes (catégorie Midsize) 11 000 €</h2>
  <br>                     
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Stratton</th>
        <th>Courtier traditionnel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Commission variable</th>
        <td>Oui - 5%</td>
        <td>Non - 10-20%</td>
      </tr>

      <tr>
        <td></td>
        <td>550 €</td>
        <td>1 100 € à 2 200 €</td>
      </tr>

      <tr>
        <th>Réservation</th>
        <td></td>
        <td></td>
      </tr>

       <tr>
        <td>Prix instantané</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

       <tr>
        <td>Nom de la compagnie</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

      <tr>
        <td>Nationalité de la compagnie</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

      <tr>
        <td>Immatriculation de l'avion</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

      <tr>
        <th>Technologie</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Plateforme technologique de réservation</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

      <tr>
        <td>Application</td>
        <td>Oui</td>
        <td>En fonction de votre courtier</td>
      </tr>

      <tr>
        <td>Assistant dédié</td>
        <td>Oui</td>
        <td>En fonction de votre courtier</td>
      </tr>

      <tr>
        <th>Écologie</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Dématérialisation</td>
        <td>Oui</td>
        <td>En fonction de votre courtier</td>
      </tr>

      <tr>
        <td>Compensation Carbonne </td>
        <td>Oui</td>
        <td>En fonction de votre courtier</td>
      </tr>

      <tr>
        <th>Finances</th>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Remboursement à 100% si vol annulé (selon CGV)</td>
        <td>Oui</td>
        <td>Non</td>
      </tr>

      <tr>
        <td>Cout total du vol </td>
        <td>11 650 €</td>
        <td>12 100 € - 14 200 €</td>
      </tr>

      <tr>
        <td>Économie réalisé </td>
        <td>450 € à 2 550 €</td>
        <td>-</td>
      </tr>

    </tbody>
  </table>
</div>

