<div style="background-color: white">
	<div id="comp" class="center-title">
		<h2 class="text-black" >Tableau Comparatif</h2>
	</div>
	<div id="page" style="font-size: 130%">
		<section class="comp-table padded" style="margin-top: -10%">
			<div class="regular-container">
				<div class="row">
					<div class="col-md-4 col-xs-12 legend-col">
					</div>
					<div class="col-md-offset-4 col-md-4 col-xs-6 opendoor-col">
						<center>
							<h2 class="text-white medium-margin-top">Stratton <br><br></h5>
							</center>
							<div class="fees-label">
								<div class="percentage">5% </div> Commission fixe
							</div>
						</div>
						<div class="col-md-4 col-xs-6 traditional-sale-col">
							<center>
								<h2 class="medium-margin-top">Courtier Traditionnel</h5>
								</center>
								<div class="fees-label"><div class="percentage">10-20% </div> Commission opaque</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p class="text-muted">Vol Paris - Londres, 6 personnes <br> (Categorie "Midsize")</p>
							</div>

							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="price">11,000</div>
							</div>

							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="price">11,000</div>
							</div>

						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h4 class="legend-title">Réservation</h4>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Prix instantané</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">✘ Non </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Nom de la compagnie</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">✘ Non </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col"><p>Immatriculation de l'avion</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">✘ Non </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h4 class="legend-title">Technologie</h4>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Plateforme technologique de reservation</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">En fonction de votre courtier</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Application dédiée</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">En fonction de votre courtier</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Assistant dédiée</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">En fonction de votre courtier</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>A remplir</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">—</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">-</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>A remplir</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">-</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">-</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h4 class="legend-title">Écologie</h4>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Dématérialisation</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">En fonction de votre courtier</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Compensation carbone</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">✓ Oui </div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">En fonction de votre courtier</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h4 class="legend-title">Coût total du vol</h4>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="price small-margin-top small-margin-bottom">11 650</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="price small-margin-top small-margin-bottom">12 100 - 14 200</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h4 class="legend-title">Économie réalisée</h4>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="price small-margin-top small-margin-bottom"> De 450 à 2550</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="price small-margin-top small-margin-bottom">-</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col hidden-sm-down">
								<div class="empty-cell">&nbsp;</div>
							</div>

						</div>
					</div>

					<div>
						<div class="center-title">
							<h2 class="text-black">La promesse Stratton</h2>
						</div>
						<center>
							<div style="color: black; font-style: italic; margin: 2%">
								Réserver un jet privé peut être compliqué. 
								<br>
								À Stratton Jets, nous pensons que cela ne doit plus être le cas. <br>
								C'est pourquoi nous guidons nos clients dans un processus de recherche simple et efficace.
								<br> <br>
								Notre objectif : vous offrir une offre juste et précise selon vos besoins.

							</div>
						</center>
					</div>
				</section>
			</div>
		</div>