<div id="page">
			<main class="site-content">
				<section class="comp-table padded">
					<div class="regular-container">
						<div class="row">
							<div class="col-md-offset-4 col-md-4 col-xs-6 opendoor-col">
								<h5 class="text-white medium-margin-top">Selling to Opendoor</h5>
								<div class="fees-label">
									<div class="percentage">6.5% </div>average service charge*
								</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<h5 class="medium-margin-top">Traditional home sale</h5>
								<div class="fees-label"><div class="percentage">7-10% </div>average costs* </div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p class="text-muted">Offer price (example)</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="price">$200,000</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="price">$200,000</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h6 class="legend-title">Selling process</h6>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Average days to close transaction</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">Choose from 10-60 days</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">50 days</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Average days to prep and stage home</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">0 days</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">10 days</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col"><p>Average number of showings</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">0 showings</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">10 showings</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h6 class="legend-title">Transaction costs</h6>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col hidden-sm-down empty-cell">
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Average Opendoor service charge</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">6.5%</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">—</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Estimated real estate agent fees</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">—</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">6%</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Estimated seller concessions</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">—</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">2%</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Estimated home ownership and overlap</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">—</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">1%</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<p>Repairs needed to sell home</p>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="value">TBD</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="value">TBD</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col">
								<h6 class="legend-title">Estimated cash before closing</h6>
							</div>
							<div class="col-md-4 col-xs-6 opendoor-col">
								<div class="price small-margin-top small-margin-bottom">$186,800</div>
							</div>
							<div class="col-md-4 col-xs-6 traditional-sale-col">
								<div class="price small-margin-top small-margin-bottom">$182,000</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 legend-col hidden-sm-down">
								<div class="empty-cell">&nbsp;</div>
							</div>
							<div class="col-md-4 col-xs-6 disclaimer-col">
								<div class="disclaimer">* June 2018 average Opendoor service charge. Charge varies for each property and can range from 6-13%. </div>
							</div>
							<div class="col-md-4 col-xs-6 disclaimer-col">
								<div class="disclaimer">* Cost and selling process estimates are based on internal and industry data for the markets in which Opendoor operates. </div>
							</div>
						</div>
					</div>
				</section>
			</main><!-- #content -->
		</div>