<footer class='footer pt50 pb20'>
            <div class='container'>
                <div class='row'>
                    <div class='col-lg-4 mb30'>
                        <a href='#home' data-scroll class='h6'>
                            <%= image_tag('stratton.png', :class => 'logo logo-light hidden-md-down') %>
                        </a>
                        <p>
                           Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                     
                    <div class='col-lg-4 mb30'>
                        <h4 class="mb30">Follow us</h4>
                        <span class='clearfix'>
                            <a href="#" class="social-icon-sm si-dark si-dark-round si-facebook">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-dark-round si-twitter ">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-dark-round si-instagram">
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#" class="social-icon-sm si-dark si-dark-round si-linkedin">
                                <i class="fa fa-linkedin"></i>
                                <i class="fa fa-linkedin"></i>
                            </a>  
                        </span>
                         <div class='pt30'>
                             <span>Support</span>
                             <p class="lead">contact@stratton.com</p>
                             <span>Phone</span>
                             <p class="lead">+33 747 777 73 </p>
                    &copy; Copyright 2018. All Right Reserved. 
                </div>
                    </div>
                
                </div>
               
            </div>
        </footer>