<footer class="footer pt50 pb20" style="background-image: linear-gradient(to bottom, #141414, #101010, #0b0b0b, #060606, #000000); bottom:0px; left: 0px; width:100%; height: 35%;">

<div class='container'>
    <div class='row'>
        <div class='col-lg-4 mb30'>
            <a href='#home' data-scroll class='h6'>
                <%= image_tag('', :class => 'logo logo-light hidden-md-down') %>
            </a>
            <p>
             Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
         </p>
     </div>



     <div class='col-lg-4 mb30'>
        <h4 class="mb30">Follow us</h4>
        <span class='clearfix'>
            <a href="#" class="social-icon-sm si-dark si-dark-round si-facebook">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-dark-round si-twitter ">
                <i class="fab fa-twitter"></i>
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-dark-round si-instagram">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon-sm si-dark si-dark-round si-linkedin">
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-linkedin"></i>
            </a>
        </span>
        <div class='pt30'>
           <span>Support</span>
           <p class="lead">contact@stratton.com</p>
           <span>Phone</span>
           <p class="lead">+33 7 47 77 77 36 </p>
           &copy; Copyright 2018. All Right Reserved.
       </div>
   </div>

</div>

</div>
</footer>
