<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMwVpUj3-oHHW8N21819BhKttOga2Rj2s"></script>
        <script src="js/jquery.gmap.min.js"></script> 
        <script>
            // Marker Map
            $(document).ready(function () {
                map = new GMaps({
                    scrollwheel: false,
                    el: '#markermap',
                    lat: 26.981942,
                    lng: 75.684486

                });
                map.addMarker({
                    lat: 26.981942,
                    lng: 75.684486,
                    title: 'Marker with InfoWindow',
                    infoWindow: {
                        content: '<h4>Assan Restaurant</h4><p>Classic foods & drinks</p>'
                    }
                });
            });
        </script> 