<div class='pt90 pb90 bg-dark clearfix' id='gallery'>
	<div class='container gallery-row clearfix'>
		<div class="center-title">
			<h2 class='text-white'>Instagram Gallery <sub class='badge badge-primary'><i class='fa fa-thumbs-up'></i> 40.4K</sub></h2>
			<p>Best chefs team serve better to our valuable customers</p>
		</div>
		<div class="row">
			<div class="col-lg-4 mb30">
				<a href="#" class="chefs-card">
					<img src="images/resto/chef1.jpg" alt="" class="img-fluid">
					<div class="chefs-overlay">
						<h4>Janelia Adams</h4>
						<span>Chef's leader</span>
					</div>
				</a>
			</div>
			<div class="col-lg-4 mb30">
				<a href="#" class="chefs-card">
					<img src="images/resto/chef2.jpg" alt="" class="img-fluid">
					<div class="chefs-overlay">
						<h4>Janelia Adams</h4>
						<span>Chef's leader</span>
					</div>
				</a>
			</div>
			<div class="col-lg-4 mb30">
				<a href="#" class="chefs-card">
					<img src="images/resto/chef3.jpg" alt="" class="img-fluid">
					<div class="chefs-overlay">
						<h4>Janelia Adams</h4>
						<span>Chef's leader</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div class='pt90 pb90 bg-dark clearfix' id='gallery'>
	<div class='container gallery-row clearfix'>
		<div class="center-title">
			<h2 class='text-white'>Instagram Gallery <sub class='badge badge-primary'><i class='fa fa-thumbs-up'></i> 40.4K</sub></h2>
			<p>Best chefs team serve better to our valuable customers</p>
		</div>
		<a href='images/resto/food1.jpg'>
			<img src='images/resto/food1.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food2.jpg'>
			<img src='images/resto/food2.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food3.jpg'>
			<img src='images/resto/food3.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food4.jpg'>
			<img src='images/resto/food4.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food5.jpg'>
			<img src='images/resto/food5.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food6.jpg'>
			<img src='images/resto/food6.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food7.jpg'>
			<img src='images/resto/food7.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food8.jpg'>
			<img src='images/resto/food8.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food9.jpg'>
			<img src='images/resto/food9.jpg' alt='' class='img-fluid'>
		</a>
		<a href='images/resto/food10.jpg'>
			<img src='images/resto/food10.jpg' alt='' class='img-fluid'>
		</a>
	</div>
</div>