<div class="bg-white" id="about">
		<div class="container pt90 pb60">
			<div class="row align-items-center">
				<div class="col-lg-6 mb30">
<<<<<<< HEAD
					<h3 class=" h1 font300 mb30">Notre vision</h3>
=======
					<h3 class=" h1 font300 mb30">Notre philosophie</h3>
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3
					<p>
						In volutpat vehicula iaculis. Nullam dapibus velit vel suscipit malesuada. Morbi tincidunt, dui tristique tincidunt faucibus, purus sapien consectetur libero, vitae venenatis eros lacus vitae erat. Mauris tristique pretium tristique. Integer at nulla at eros suscipit suscipit vitae nec diam. Nullam dictum sed metus nec mollis.
					</p>
					<p>
						In volutpat vehicula iaculis. Nullam dapibus velit vel suscipit malesuada. Morbi tincidunt, dui tristique tincidunt faucibus, purus sapien consectetur libero, vitae venenatis eros lacus vitae erat. Mauris tristique pretium tristique. Integer at nulla at eros suscipit suscipit vitae nec diam. Nullam dictum sed metus nec mollis.
					</p><br>
					<a href="resto-about.html" class="btn btn-dark">Read more</a>
				</div>
				<div class="col-lg-6 mb30">
					<%= image_tag('vision.png', :class => 'img-fluid') %>
				</div>
			</div>
		</div>
	</div><!--intro-->
<<<<<<< HEAD

	
=======
>>>>>>> 2ff84f725262c1935ff1e83e68c93a5e0f9bf9e3
