<div class="bg-dark pt90 pb60" id="services">
		<div class="container">
			<div class="center-title">
				<h2 class="text-white">Pourquoi nous ?</h2>
				<p class="text-white-gray">Nos services</p>
			</div>
			<div class="row text-center">
				<div class="col-md-4 mb30">
					<img src="images/resto/vector1.png" alt="" class="img-fluid">
					<h4 class="text-white">Award winners</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<img src="images/resto/vector2.png" alt="" class="img-fluid">
					<h4 class="text-white">Catering</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<img src="images/resto/vector3.png" alt="" class="img-fluid">
					<h4 class="text-white">Best chefs</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<img src="images/resto/vector4.png" alt="" class="img-fluid">
					<h4 class="text-white">Music events</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<img src="images/resto/vector5.png" alt="" class="img-fluid">
					<h4 class="text-white">Game zone</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
				<div class="col-md-4 mb30">
					<img src="images/resto/vector7.png" alt="" class="img-fluid">
					<h4 class="text-white">Event managament</h4>
					<p>
						Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
		</div>
	</div>
