<div class="pt90 pb90 bg-white">
		<div class="container">
			<div class="center-title">
				<h2>what they say about us?</h2>
				<p>Real customer reviews</p>
			</div>
			<div class="row text-center">
				<div class="col-md-8 mr-auto ml-auto">
					<div class="owl-carousel owl-theme carousel-testimonials">
						<div class="item">
							<p class="lead">
								" Excellent place to start! Loved how easy it was to move right in with my content... "
							</p>
							<h5>John Doe-</h5>
						</div>
						<div class="item">
							<p class="lead">
								" Hi mate, thank you for your wonderful template! As a backend web developer, this makes it super easy for me to build a new web application. "
							</p>
							<h5>John Doe-</h5>
						</div>
						<div class="item">
							<p class="lead ">
								" Hello, your theme gets better and better on every version. Gratulation to this wonderful theme and please keep on working this way (good once)!! "
							</p>
							<h5>John Doe-</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>