<!--slider revolution start-->



	<div class="rev_slider_wrapper oHidden" id="home">
		<div id="slider1" class="rev_slider fullwidthabanner"  data-version="5.0" style="position: relative;">
			<ul>
				<li data-transition="random" style="position: relative;" >
					<!-- MAIN IMAGE -->
					<%= image_tag "newyork.jpg", alt: "", size: "1920x1000", class: "rev-slidebg", :data => { bgposition: 'center center', bgfit: 'cover', bgrepeat: 'no-repeat', bgparallax: '10' } %>
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">Assan restaurant</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','140','140']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-dark btn-primary">Book A Table</a></div>
				</li>
				<li data-transition="random">
					<!-- MAIN IMAGE -->
					<%= image_tag "travel.jpg", alt: "", size: "1920x1000", class: "rev-slidebg", :data => { bgposition: 'center center', bgfit: 'cover', bgrepeat: 'no-repeat', bgparallax: '10' } %>
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">Best quality foods</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-primary">Book A Table</a></div>
				</li>
				<li data-transition="random">
					<!-- MAIN IMAGE -->
					<%= image_tag "woman-portrait.png", alt: "", size: "1920x1000", class: "rev-slidebg", :data => { bgposition: 'center center', bgfit: 'cover', bgrepeat: 'no-repeat', bgparallax: '10' } %>
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">#Top chefs team</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-primary">Book A Table</a></div>
				</li>
			</ul>
		</div><!-- END REVOLUTION SLIDER -->
	</div><!-- END OF SLIDER WRAPPER -->
	<!--end slider revolution-->

	<%= content_for :end_scripts do %>
	<script>
		jQuery(document).ready(function () {
			jQuery("#slider1").revolution({
				sliderType: "standard",
				jsFileLocation: "../revolution/js/",
				sliderLayout: "fullscreen",
				dottedOverlay: "none",
				delay: 9000,
				navigation: {
					arrows: {enable: true}
				},
				parallax: {
					type: "on",
					levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85],
					origo: "enterpoint",
					speed: 400,
					bgparallax: "on",
					disable_onmobile: "off"
				},
				gridwidth: 1140,
				gridheight: 600
			});
		});
	</script>
	<% end %>

</div>
