<div class="rev_slider_wrapper oHidden" id="home">
		<div id="slider1" class="rev_slider fullwidthabanner"  data-version="5.0">
			<%= image_tag('sky.png', :class => 'img-fluid') %>
			<ul>
				<li data-transition="random">
					<!-- MAIN IMAGE -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"

					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">Assan restaurant</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['left','left','left','left']" data-hoffset="['50','50','50','15']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','140','140']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-dark btn-primary">Book A Table</a></div>
				</li>
				<li data-transition="random">
					<!-- MAIN IMAGE -->

					<img src="images/resto/bg2.jpg"  alt=""  width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"

					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">Best quality foods</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-primary">Book A Table</a></div>
				</li>
				<li data-transition="random">
					<!-- MAIN IMAGE -->

					<img src="images/resto/bg3.jpg"  alt=""  width="1920" height="1000" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption tp-resizeme slider-title"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
					data-fontsize="['80','80','80','45']"
					data-lineheight="['80','80','80','50']"
					data-width="none"
					data-height="none"

					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="500">#Top chefs team</div>
					<div class="tp-caption tp-resizeme slider-caption"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['90','90','90','70']"
					data-fontsize="['20','20','20','15']"
					data-lineheight="['25','25','25','20']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1000">The best food in town at one of the best locations</div>
					<div class="tp-caption tp-resizeme slider-button"
					data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					data-y="['middle','middle','middle','middle']" data-voffset="['160','160','160','120']"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
					data-transform_out="auto:auto;s:300;"
					data-start="1500"><a href="#" class="btn btn-xl btn-primary">Book A Table</a></div>
				</li>
			</ul>
		</div><!-- END REVOLUTION SLIDER -->
	</div><!-- END OF SLIDER WRAPPER -->