<!-- FONTAWESOME 5 AND NORMALIZED CSS INSTALLED
View settings for more info. -->

<div>
  <div class="header">
    <div class="title first"><h2>Vol Paris - Nice pour 6 personnes (Midsize Jet) 11 000 €</h2></div>
  </div>
  <div class="row">
    <div class="column first">
      <p></p>
    </div>
    <div class="column"><span class=""></span>Stratton</div>
    <div class="column"><span class=""></span>Courtier traditionnel</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Commission fixe</p>
    </div>
    <div class="column"><span class=""></span>Oui - 5%</div>
    <div class="column"><span class=""></span>Non - 10-20%</div>
  </div>
  <div class="row">
    <div class="column first">
      <p></p>
    </div>
    <div class="column"><span class=""></span>550 €</div>
    <div class="column"><span class=""></span>1 100 € à 2 200 €</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Réservation</p>
    </div>
    <div class="column"><span class="text"></span></div>
    <div class="column"><span class=""></span></div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Prix instantané</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Nom de la compagnie</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Nationalité de la compagnie</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Immatriculation de l'avion</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Technologie</p>
    </div>
    <div class="column"><span class=""></span></div>
    <div class="column"><span class=""></span></div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Plateforme technologique de réservation</p>
    </div>
    <div class="column"><span class=""></span>Oui <p></div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Application</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>En fonction de votre courtier</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Assistant dédié </p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>En fonction de votre courtier</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Écologie</p>
    </div>
    <div class="column"><span class=""></span></div>
    <div class="column"><span class=""></span></div>
  </div>
  <div class="row">
    <div class="column first">
      <p>100 % Digital</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>En fonction de votre courtier</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Compensation Carbonne</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>En fonction de votre courtier</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Finances</p>
    </div>
    <div class="column"><span class=""></span></div>
    <div class="column"><span class=""></span></div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Remboursement à 100 % si vol annulé (selon CGV)</p>
    </div>
    <div class="column"><span class=""></span>Oui</div>
    <div class="column"><span class=""></span>Non</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Coût total du vol</p>
    </div>
    <div class="column"><span class=""></span>11 650 €</div>
    <div class="column"><span class=""></span>12 100 € - 14 200 €</div>
  </div>
  <div class="row">
    <div class="column first">
      <p>Économie réalisé</p>
    </div>
    <div class="column"><span class=""></span>450 € à 2 550 €</div>
    <div class="column"><span class=""></span>-</div>
  </div>
</div>