<div id="vision" class="half-image-content bg-faded" style="background-color: white">
	<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.2}' style="background: url('<%= asset_path 'keyboard1.jpg' %>') no-repeat;">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-5 ml-auto  pt80 pb80">
				<h2 class="mb40">
					Notre vision
				</h2>
				<div class="clearfix">
					<p>
						Stratton est né d’un constat : le manque de transparence dans l’aviation privée. Un courtier habituel prend entre 10 et 20% de frais de commission à chacun de vos voyages.
					</p>
					<p>
					Grâce à la technologie Stratton, bénéficiez d’un système de commission transaprent et fixe de 5%.</p>
					<p>	Ensemble, coupons les intermédiaires !
						<p> Vous choisissez et réservez votre jet en sachant le prix exact payé à la compagnie.
						<P>
							
							<a href="classic-restaurant-menu.html" class="btn btn-outline-primary">Explore menu</a>
						</div>
					</div>
				</div>
			</div>
		</div>
