<div class="half-image-content bg-faded">




	<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.2}' style="background:url(assets/travel-456b2ccc8b01e160ca8005878ccad222da948f180787749d454f5165f4489aaf.jpg) no-repeat;">
	</div>
	
	<img src="/assets/travel-456b2ccc8b01e160ca8005878ccad222da948f180787749d454f5165f4489aaf.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">


	<div class="container">
		<div class="row">
			<div class="col-lg-5 ml-auto  pt80 pb80">
				<h2 class="mb40">
					Why choose assan restaurant?
				</h2>
				<div class="clearfix">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p><br>
					<a href="classic-restaurant-menu.html" class="btn btn-outline-primary">Explore menu</a>
				</div>
			</div>
		</div>
	</div>
</div>
