
<div id="vision" class="half-image-content bg-faded" style=" background-color: white">
	<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.2}' style="background: url('<%= asset_path 'travel.jpg' %>') no-repeat;">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-5 ml-auto  pt80 pb80">
				<h2>
					Notre vision
					<br>
				</h2>
				<div style="color: black; font-style: italic;">
					
					<h5> "L'histoire est simple, Stratton est né d’un constat qui est le manque de transparence dans l’aviation privée : <br> <br>
					Saviez vous qu'un courtier habituel vous prend entre 10 et 20% de frais de commission à chacun de vos voyages ?
					<br> <br>
					C'est pourquoi, grâce à la technologie Stratton, nous avons décidé de proposer un système de commission fixe de 5%. <br> <br>
					Plus important encore, afin de connaitre enfin les conditions de votre voyage, notre systeme est basé sur une totale transparence. <br> <br>
					Ensemble, nous coupons les intermédiaires ! <br> <br>
					Notre souhait est que vous puissiez choisir et réservez votre jet en sachant exactement le prix payé à la compagnie." <br> <br>
					</h5>

					<h4> John Smith, fondateur de Stratton </h4>
					<br> <br>
					<a href="#comparatif" class="btn btn-outline-primary">En savoir plus</a>

				</div>
			</div>
		</div>
	</div>
</div>