<div id="vision" class="half-image-content bg-faded">
	<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.2}' style="background: url('<%= asset_path 'travel.jpg' %>') no-repeat;">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-5 ml-auto  pt80 pb80">
				<h2 class="mb40">
					Notre vision
				</h2>
				<div class="clearfix">
					<p>
						Stratton est né du constat d’un manque de transparence dans l’aviation privée.
					</p>
					<p>
					Nous sommes le premier courtier a proposer un système de commission fixe de 5% et transparent à ses clients.</p>
					<p>	Grâce à ce modèle nous coupons les intermédiaires, vous choisissez et réservez votre jet en sachant le prix exact payé à la compagnie.
						<P>
							<a href="classic-restaurant-menu.html" class="btn btn-outline-primary">Explore menu</a>
						</div>
					</div>
				</div>
			</div>
		</div>
