others 

<div class="half-image-content bg-faded">
		<div class="content-img bg-parallax pos-left" data-jarallax='{"speed": 0.2}' style="background: url('<%= asset_path 'travel.jpg' %>') no-repeat;">
		</div>